

<div class="container-fluid">
     
      <div class="row-fluid">
        <div class="span12">        
        </div>    
      <div class="row-fluid">        
          <div class="span2">           
          </div>   
          <div class="span6">
          	<div class="unit">

<h1>Biography</h1>
<p>R.B.Warang C.A. founded CFO Support in 2012 with the idea that large sized companies are not the only companies that can benefit from experienced financial professionals. He recognized that the impact of a single, critical decision can be more significant for a smaller and medium sized company than for a larger one. CFO Support fillsl the role of CFO for smaller and medium sized companies, giving them a level of financial management expertise that they are not prepared to hire any CFO on a full-time basis.</p>

<p>R.B.Warang has set a high standard for the level of expertise, skill and experience. His 25 years of experience begin with 12 years experience in medium sized Group in Gulf. Those early years provided a unique combination of experiences with accounting, a very fundamental business approach to serving Group's business units, and the opportunity to work in and learn about many different unit companies in many different industries. This Group taught its employees first to be business and compercial people, and second to be accountants. That training helped develop an understanding of the factors that help a business to succeed.</p>

<p>From that Group, R.B.Warang moved to another reputed private Group where he continued his business education in both small and medium scaled around 25 companies in a broad range of industries including manufacturing, industrial processing, consumer products, and consumer services. He has been Group Finance Manager, GFC for the 2 Groups he worked for. This is typical of the experience and expertise you can expect from your CFO Support.</p>




</div>
 </div>
 <div class="row-fluid">
        <div class="span12">        
        </div>  


        <div class="container-fluid">    
<footer>
  <div class="row-fluid">

   <hr>
    <div class="span3">

    </div>
    <div class="span9">


        <p>&copy; Company 2013</p>
      </footer>
</div>
    </div><!--/.fluid-container-->







































