
<div class="container-fluid">
     
      <div class="row-fluid">
        <div class="span12">        
        </div>    
      <div class="row-fluid">        
          <div class="span2">           
          </div>   
          <div class="span6">
          	<div  class="faqunit">


<h1>Frequently Aksed Questions</h1>
<p>Question<br>
What would a Expert CFO Support do for my company?</p>
<p>
<div class="ans">Answer</div><br>
It depends on your company's needs. The short answer is that which your own CFO or controller would do. The difference is we have more experience expertise on which to draw, and we only change you when we are there.</p>
<p>Question<br>
Does "EXpert CFO Support" means they are only availabe online or over the phone? What if I need someone onsite?</p>
<p>
	<div class="ans">Answer</div><br>
Expert CFO Support work almost exclusively onsite at the client's location where we can be most effective.</p>

<p>Question<br>
Why do I need a Expert CFO Support if I have a Accountant?</p>
<p>
	<div class="ans">Answer </div><br>
Expert CFO Support are professionals in financial management. That is all we do. Accountants are professionals in financial statement preparation, and auditing. Asking your Accoutant to assist your company in financial management and strategic planning is a little like asking your architect to build your building.</p>

<p>Question<br>
Is having Expert CFO solution expensive?</p>
<p>
	<div class="ans">Answer</div><br>
The idea of having Expert CFO Solutions is that your company only uses him for things that do not occur every day. Your staff is (or should be) able to handle day-to-day activity. (see our list of services on this website for area in which Expert CFO Solutions can be used most effectively. For these areas you should be looking for quality financial management, not quantity. One key decision based on the right information can make all the difference to your company.) Expert CFO Support Solutions only works for you when you need him. It might be a day a week or a month. The cost at a day or a week is less than half of the cost of a full-time Financial Controller.</p>

<p>Question<br>
What if I don't think I need a Expert CFO Support every week? What if I just have a project I need completed?</p>
<p>
	<div class="ans">Answer</div><br>
Expert CFO Support will complete the Projects - your staff cannot.</p>


</div>
 </div>
 <div class="row-fluid">
        <div class="span12">        
        </div>  


        <div class="container-fluid">    
<footer>
  <div class="row-fluid">

   <hr>
    <div class="span3">

    </div>
    <div class="span9">


        <p>&copy; Company 2013</p>
      </footer>
</div>
    </div><!--/.fluid-container-->













































